version: "3.7"
services:
  server:
    image: "gyulbe/gyulbe-blog:latest"
    build: .
    container_name: blog-server
    restart: unless-stopped
    volumes:
      - appdata:/app
    networks:
      - app
    ports:
      - "8080:8080"

networks:
  app:
    name: blog_network
    external: true

volumes:
  appdata:
    driver: local


